<div class="container-fluid justify-content-center d-flex flex-wrap" style="gap: 0.75rem;">

    {%- assign unfocused_color = "718096" -%}
  
    {% for account in site.author %}
  
      {%- assign service_name = account[0] -%}
      {%- assign service_data = site.data.social-media[service_name] -%}
      {%- if service_data -%}    
      <a class="social"  href="{{ service_data.url }}{{ account[1] }}"
         style="color: #{{ unfocused_color }}"
         onMouseOver="this.style.color='#ffffff'; this.style.backgroundColor='#{{ service_data.color }}'"
         onMouseOut="this.style.color='#{{ unfocused_color }}'; this.style.backgroundColor=''"
         aria-label="{{ service_name }}">
        <i class="{{ service_data.icon }}"></i>
      </a>
      {%- endif -%}
    
    {% endfor %}
  
  </div>